{% extends 'base.html.twig' %}

{% block title %}Mon panier{% endblock %}

{% block body %}
    <div class="container p-4">
        {# BREADCRUMBS ------------------------------------------------------------------------------------------------ #}
        {% set breadcrumbs = [
            {"page_name": "Accueil", "route_path": path('home.index')},
            {"page_name": "Produits", "route_path": path('product.index')},
            {"page_name": "Panier", "route_path": path('product.index')},
        ] %}
        {% include 'components/_breadcrumb.html.twig' 
            with {'breadcrumbs': breadcrumbs ? breadcrumbs : null} 
        %}
        
        {# TITLE------------------------------------------------------------------------------------------------ #}
        {% include 'components/_title_with_subtitle.html.twig' 
            with {
            'title': 'Mon Panier',
            'subtitle': 'Voici les articles que vous avez ajoutés'
            } 
        %}
        
        <div class="row">
            <div class="col-12 col-md-8">
                {# TABLEAU PRODUCTS ------------------------------------------------------------------------------------------------ #}
                {% if totalQuantity > 0 %}
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Article</th>
                                <th scope="col">Prix (unitaire)</th>
                                <th class="text-center" scope="col">Quantité</th>
                                <th scope="col">Total</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for item in cart %}
                            <tr>
                                <td class="align-middle">
                                    {% if item.product.getImageUrl() %}
                                        <img height="80px" src="{{ asset('img/products/' ~ item.product.imageUrl) }}" alt="{{ item.product.name }}">
                                    {% endif %}
                                    {{ item.product.name }}
                                </td>
                                <td class="align-middle">
                                    {% if item.product.salePrice %}
                                        <div class="text-muted" style="text-decoration: line-through;">
                                            {{ item.product.regularPrice|number_format(2, ',', '.') }} €
                                        </div>
                                        <strong>{{ item.product.salePrice|number_format(2, ',', '.') }} €</strong>
                                    {% else %}
                                        <strong>{{ item.product.regularPrice|number_format(2, ',', '.') }} €</strong>
                                    {% endif %}
                                </td>
                                <td class="text-center align-middle">
                                    <a title="Enlever 1 article" href="{{ path('remove.cart_item', {id: item.product.id}) }}" class="btn btn-sm btn-outline-secondary">
                                        -
                                    </a>
                                    {{ item.quantity }}
                                    <a title="Ajouter 1 article" href="{{ path('cart.add', {id: item.product.id}) }}" class="btn btn-sm btn-outline-secondary">
                                        +
                                    </a>
                                </td>
                                <td class="align-middle">
                                    {% if item.product.salePrice %}
                                        {{ (item.quantity * item.product.salePrice)|number_format(2, ',', '.') }} €
                                    {% else %}
                                        {{ (item.quantity * item.product.regularPrice)|number_format(2, ',', '.') }} €
                                    {% endif %}
                                </td>
                                <td class="align-middle">
                                    <a title="Supprimer cet article" href="{{ path('remove.cart_item', {id: item.product.id}) }}" class="text-danger">
                                        <i class="bi bi-trash"></i>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% endif %}
                
                {# Bouton pour réinitialiser le panier ------------------------------------------------------------------------------------------------ #}
                {% if totalQuantity > 0 %}
                    <div class="d-flex justify-content-end">
                        <a href="{{ path('remove.cart') }}" class="spkdv_primary_btn_outline">Réinitialiser mon panier</a>
                    </div>
                {% else %}
                    <div class="alert alert-warning text-center">
                        Votre panier est vide pour le moment !
                    </div>
                {% endif %}
            </div>
            
            {# RÉSUMÉ DU PANIER ET TOTAL------------------------------------------------------------------------------------------------ #}
            <div class="col-12 col-md-4">
                <table class="table fw-bold" style="width: 100%;">
                    <tbody>
                        <tr>
                            <td>{{ totalQuantity }} article(s)</td>
                            <td class="text-end">{{ totalPrice|number_format(2, ',', '.') }} €</td>
                        </tr>
                        {% if totalQuantity > 0 %}
                        <tr>
                            <td>Livraison</td>
                            <td class="text-end">à déterminer</td>
                        </tr>
                        {% endif %}
                        <tr>
                            <td>TOTAL TTC</td>
                            <td class="text-end">{{ totalPrice|number_format(2, ',', '.') }} €</td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                {% if totalQuantity > 0 %}
                                <div class="d-flex justify-content-center">
                                    <a href="{{ path('order.new') }}" class="spkdv_primary_btn">Commander</a>
                                </div>
                                {% endif %}
                                <br>
                                <div>
                                    {# ICONES D'AVANTAGES ------------------------------------------------------------------------------------------------ #}
                                    {% set iconsWithText = [
                                        {
                                            "text": "Service client à votre écoute",
                                            "icon": "<object type='image/svg+xml' data='" ~ asset('svg/official.svg') ~ "' width='40px'></object>",
                                        },
                                        {
                                            "text": "Emballage cadeau soigné",
                                            "icon": "<object type='image/svg+xml' data='" ~ asset('svg/emballage.svg') ~ "' width='40px'></object>",
                                        },
                                        {
                                            "text": "Paiement sécurisé",
                                            "icon": "<object type='image/svg+xml' data='" ~ asset('svg/payment.svg') ~ "' width='40px'></object>",
                                        }
                                    ] %}

                                    {% include 'components/_icon_with_text.html.twig'
                                        with {
                                            'iconsWithText': iconsWithText,
                                            'colSpan': 'col-4',
                                        }
                                    %}
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
