{% extends 'base.html.twig' %}

{% block title %}Modifier mot de passe{% endblock %}
{% block body %}

<div class="container p-4">
  {# BREADCRUMBS ------------------------------------------------------------------------------------------------ #}
    {% set breadcrumbs = [
        {"page_name": "Accueil", "route_path": path('home.index')},
        {"page_name": "Mon compte", "route_path": path('account.index')},
        {"page_name": "Modifier mot de passe", "route_path": null},
    ] %}
    {% include 'components/_breadcrumb.html.twig' 
        with {'breadcrumbs': breadcrumbs ? breadcrumbs : null} 
    %} 

{# ------------------------------------------------------------------------------------------------ #}
        <div class="row">
            <div class="col-12 col-sm-12 col-md-3 col-lg-3">
                {% include 'account/_nav_account.html.twig' %}
            </div>
            <div class="col-12 col-sm-12 col-md-3 col-lg-9">

    <h2>Modifier mot de passe</h2>
  
<form method="post">
    {{ form_start(form) }}

    <div class="form-group">
        {{ form_label(form.old_password) }}
        <div class="input-group">
            {{ form_widget(form.old_password) }}
            <button type="button" class="btn btn-outline-secondary toggle-password">
                <i class="fa fa-eye"></i>
            </button>
        </div>
        {{ form_errors(form.old_password) }}
    </div>

    <div class="form-group">
        {{ form_label(form.plainPassword.first) }}
        <div class="input-group">
            {{ form_widget(form.plainPassword.first) }}
            <button type="button" class="btn btn-outline-secondary toggle-password">
                <i class="fa fa-eye"></i>
            </button>
        </div>
        {{ form_errors(form.plainPassword.first) }}
    </div>

    <div class="form-group">
        {{ form_label(form.plainPassword.second) }}
        <div class="input-group">
            {{ form_widget(form.plainPassword.second) }}
            <button type="button" class="btn btn-outline-secondary toggle-password">
                <i class="fa fa-eye"></i>
            </button>
        </div>
        {{ form_errors(form.plainPassword.second) }}
    </div>

    <button type="submit" class="spkdv_primary_btn">Modifier le mot de passe</button>

    {{ form_end(form) }}
</form>


            </div>
        </div>



</div>

{% endblock %}
