{# templates/components/brand_card.html.twig #}
<a href="{{ path('brand.show', { 'id': brand.id }) }}">
 <div style="position:relative; ">
            <img src="{{ asset('img/brands/' ~ brand.coverUrl) }}" loading="lazy" class="img-fluid" alt="{{ brand.name }}">
                    <!-- Contenu texte au-dessus de l'image -->
            <div style="
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                background: #ffffff;
                color: #000;
                padding: 20px;
                z-index: 1;
                width: auto;">
                <img src="{{ asset('img/brands/' ~ brand.logoUrl) }}" loading="lazy" class="img-fluid" alt="{{ brand.name }}" style="max-height:80px;">
            </div>
        </div>
</a>
