<a href="{{ path('product.show', {'id': product.id}) }}">
    <div class="card">
        <div class="image_container position-relative">
            <img src="{{ asset('img/products/' ~ product.imageUrl) }}" loading="lazy" class="card-img-top w-100" alt="{{ product.name }}">
            <div class="position-absolute text-center" style="bottom: 0%; left: 50%; transform: translateX(-50%); width: 90%; font-family:var(--font-family);">
                {% for olfactoryFamily in product.olfactoryFamily %}
                    <span class="badge" style="background:#bbb9">{{ olfactoryFamily ?? '' }}</span>
                {% endfor %}
            </div>
      
            <div class="hover_buttons">
                <a href="{{ path('cart.add', {'id': product.id}) }}" class="spkdv_primary_btn">Ajouter au panier</a>
            </div>
        </div>
        <div class="card-body d-flex flex-column">
            <div class="row flex-grow-1 align-items-end">
                <div class="col-12 col-md-7 text-uppercase fw-bold text-start" style="font-size:0.9em;">
                    <h6>{{ product.name }}</h6>
                    <div>{{ product.brand }}</div>
                </div>
                <div class="col-12 col-md-5 text-center">
                    {# ---------------------- PRIX RÉGULIER ET PROMOTION ---------------------- #}
                    <div class="card-text regular_price" style="font-size:0.9em;">
                        {% if product.salePrice %}
                            <div class="text-decoration-line-through text-muted" style="font-size:0.7em;">
                                {{ (product.regularPrice / 100) | number_format(product.regularPrice % 100 == 0 ? 0 : 2, ',', ' ') }} FCFA
                            </div>
                            {{ (product.salePrice / 100) | number_format(product.salePrice % 100 == 0 ? 0 : 2, ',', ' ') }} FCFA
                        {% else %}
                            {{ (product.regularPrice / 100) | number_format(product.regularPrice % 100 == 0 ? 0 : 2, ',', ' ') }} FCFA
                        {% endif %}
                    </div>
                </div> 
            </div>
            {# -------------------------- NOTES OLFACTIVES -------------------------- #}
            <div class="row text-center mt-auto border-top pt-3" style="font-size:0.8em;">
                <div class="col-4">
                    <div class="card-text">
                        <strong>Tête</strong><br>
                        {{ product.headNote.first ?? '' }}
                    </div>
                </div>
                <div class="col-4">
                    <div class="card-text">
                        <strong>Coeur</strong><br>
                        {{ product.heartNote.first ?? '' }}
                    </div>
                </div>
                <div class="col-4">
                    <div class="card-text">
                        <strong>Fond</strong><br>
                        {{ product.backgroundNote.first ?? '' }}
                    </div>
                </div>
            </div>
            {# -------------------------- FIN NOTES OLFACTIVES -------------------------- #}
        </div>
    </div>
</a>
<style>
/* Limiter la hauteur de l'image tout en conservant ses proportions */
.card-img-top {
    max-height: 300px; /* Hauteur maximale de 350px */
    object-fit: contain; /* Assurer que l'image conserve ses proportions tout en remplissant l'espace */
    width: 100%; /* S'assurer que l'image occupe toute la largeur du conteneur */
    height: auto; /* Laisser la hauteur de l'image être calculée en fonction de son ratio d'aspect */
}
</style>