<a href="{{ path('product.show', {'id': product.id}) }}">
    <div class="card">
        <div class="image_container position-relative">
            <img src="{{ asset('img/products/' ~ product.imageUrl) }}" loading="lazy" class="card-img-top w-100" alt="{{ product.name }}">
            <div class="hover_buttons">
                <a href="{{ path('cart.add', {'id': product.id}) }}" class="spkdv_primary_btn">Ajouter au panier</a>
            </div>
        </div>
        <div class="card-body d-flex flex-column">
            <div class="row flex-grow-1">
                <div class="col-12 col-md-8">
                    <h5>{{ product.name }}</h5>
                    <div class="fw-bold fs-5">{{ product.brand }}</div>
                </div>
                <div class="col-12 col-md-4 text-center">
                    {# ---------------------- PRIX RÉGULIER ET PROMOTION ---------------------- #}
                    <div class="card-text fs-5 regular_price">
                        {% if product.salePrice %}
                            <div class="text-decoration-line-through text-muted fs-6">{{ (product.regularPrice / 100) | number_format(2, ',', '.') }} FCFA</div>
                            {{ (product.salePrice / 100) | number_format(2, ',', '.') }} FCFA
                        {% else %}
                            {{ (product.regularPrice / 100) | number_format(2, ',', '.') }} FCFA
                        {% endif %}
                    </div>
                </div> 
            </div>
            {# -------------------------- NOTES OLFACTIVES -------------------------- #}
            <div class="row text-center mt-auto border-top pt-3 fs-6">
                <div class="col-4">
                    <div class="card-text">
                        <strong>Tête</strong><br>
                        {{ product.headNote }}
                    </div>
                </div>
                <div class="col-4">
                    <div class="card-text">
                        <strong>Coeur</strong><br>
                        {{ product.heartNote }}
                    </div>
                </div>
                <div class="col-4">
                    <div class="card-text">
                        <strong>Fond</strong><br>
                        {{ product.backgroundNote }}
                    </div>
                </div>
            </div>
            {# -------------------------- FIN NOTES OLFACTIVES -------------------------- #}
        </div>
    </div>
</a>
<style>
/* Limiter la hauteur de l'image tout en conservant ses proportions */
.card-img-top {
    max-height: 350px; /* Hauteur maximale de 350px */
    object-fit: contain; /* Assurer que l'image conserve ses proportions tout en remplissant l'espace */
    width: 100%; /* S'assurer que l'image occupe toute la largeur du conteneur */
    height: auto; /* Laisser la hauteur de l'image être calculée en fonction de son ratio d'aspect */
}
</style>