{% extends 'base.html.twig' %}

{% block title %}{{ product.name }}{% endblock %}

{% block body %}
<div class="container p-4">

    {% set breadcrumbs = [
        {"page_name": "Accueil", "route_path": path('home.index')},
        {"page_name": "Parfums", "route_path": path('product.index')},
        {"page_name": product.name, "route_path": path('product.show', { 'id': product.id })}
    ] %}

    {% include 'components/_breadcrumb.html.twig' 
        with {'breadcrumbs': breadcrumbs ? breadcrumbs : null} 
    %} 
    <div class="row justify-content-center">
        <div class="col-12 col-sm-12 col-md-6 justify-content-center" style="padding:20px!important;">
            <center><img src="{{ asset('img/products/' ~ product.imageUrl) }}" style="width:90%;"/></center>
        </div>
        <div class="col-12 col-sm-12 col-md-6" style="padding:20px!important;">
            <div style="border-bottom: 1px solid #eae9e9; padding-bottom: 15px; font-size:0.8em;">
                <h1 style="font-size:2.5em;">{{ product.name }}</h1>
                <div class="row" style="font-size:2.5em;font-weight:800;">
                    {% if brand is not empty %}
                        <div class="col-6"> 
                            <a href="{{ path('brand.index') }}/{{ brand.id }}">{{ brand.name }}</a>
                        </div>
                    {% endif %}
                    <div class="col-6 text-center">{{ product.regularPrice }} €</div>
                </div>
            </div>
            <div class="row text-center my-3" style="border-bottom: 1px solid #eae9e9; padding-bottom: 15px; font-size:1.1em;">
                {% if product.headNote %}
                <div class="col-4">
                    <div class="card-text">
                        <strong>Tête</strong><br>
                        {{ product.headNote }}
                    </div>
                </div>
                {% endif %}
                {% if product.heartNote %}
                <div class="col-4">
                    <div class="card-text">
                        <strong>Coeur</strong><br>
                        {{ product.heartNote }}
                    </div>
                </div>
                {% endif %}
                {% if product.backgroundNote %}
                <div class="col-4">
                    <div class="card-text">
                        <strong>Fond</strong><br>
                        {{ product.backgroundNote }}
                    </div>
                </div>
                {% endif %}
            </div>
            <div class="row text-center" style="font-size:font-weight:800;">
                {% if product.stockQuantity is not null %}
                <div class="col-6"> 
                    <strong>Quantité disponible : </strong> <br>{{ product.stockQuantity }}    
                </div>
                {% endif %}
                {% if product.capacity %}
                <div class="col-6"> 
                    <strong>Contenance : </strong> <br>{{ product.capacity }}    
                </div>
                {% endif %}
            </div>
            <div class="row">
                <div class="col-12 p-5">
                    <a href="{{ path('cart.add', {'id': product.id}) }}" class="spkdv_primary_btn" style="display:inline-block;width:100%;">Ajouter au panier</a>
                </div>
            </div>
        </div>
        <div class="col-8 text-center p-4">
            <h1>Description</h1>
            {{ product.description | raw }}
        </div>
    </div>

    <div class="row text-center my-3" style=" padding-bottom: 4em; font-size:1.1em;">
        <h2 class="text-center">Notes olfactives</h2>
        {% if product.headNote %}
        <div class="col-4">
            <div class="card-text">
                <strong>Tête</strong><br>
                {{ product.headNote }}
                <br>
                <img src="{{ asset('img/olfactory_notes/' ~ product.headNote.imageUrl) }}" 
                     alt="{{ product.headNote.name }}" 
                     style="width: 200px; height: 200px; border-radius: 100px; border: 4px solid #fce8e7; object-fit: cover;"/>
            </div>
        </div>
        {% endif %}
        {% if product.heartNote %}
        <div class="col-4">
            <div class="card-text">
                <strong>Coeur</strong><br>
                {{ product.heartNote }}
                <br>
                <img src="{{ asset('img/olfactory_notes/' ~ product.heartNote.imageUrl) }}" 
                     alt="{{ product.heartNote.name }}" 
                     style="width: 200px; height: 200px; border-radius: 100px; border: 4px solid #fce8e7; object-fit: cover;"/>
            </div>
        </div>
        {% endif %}
        {% if product.backgroundNote %}
        <div class="col-4">
            <div class="card-text">
                <strong>Fond</strong><br>
                {{ product.backgroundNote }}
                <br>
                <img src="{{ asset('img/olfactory_notes/' ~ product.backgroundNote.imageUrl) }}" 
                     alt="{{ product.backgroundNote.name }}" 
                     style="width: 200px; height: 200px; border-radius: 100px; border: 4px solid #fce8e7; object-fit: cover;"/>
            </div>
        </div>
        {% endif %}
    </div>

   <!-- Profil Olfactif Section -->
<div id="section-3" class="section-profil-olfactif my-4 col-md-6 mx-auto border p-4">
    <h2 class="text-center">Profil olfactif</h2>

    <div class="container">
        <div class="text-center my-4" style="font-size:2em;">Intensité </div>

        <div class="progress">
            {% if product.intensity == 'Discret' %}
                <div class="progress-bar" style="background:#5b1823!important; border-left: 2px solid #5b1823; width: 33.33%;" role="progressbar" aria-valuenow="33" aria-valuemin="0" aria-valuemax="100"></div>
                <div class="progress-bar" style="background:#ededed!important; border-left: 2px solid #ededed; width: 33.33%;" role="progressbar" aria-valuenow="66" aria-valuemin="0" aria-valuemax="100"></div>
                <div class="progress-bar" style="background:#ededed!important; border-left: 2px solid #ededed; width: 33.33%;" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
            {% elseif product.intensity == 'Modéré' %}
                <div class="progress-bar" style="background:#5b1823!important; border-left: 2px solid #5b1823; width: 66.66%;" role="progressbar" aria-valuenow="66" aria-valuemin="0" aria-valuemax="100"></div>
                <div class="progress-bar" style="background:#ededed!important; border-left: 2px solid #ededed; width: 33.33%;" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
            {% elseif product.intensity == 'Puissant' %}
                <div class="progress-bar bg-danger" style="border-left: 2px solid #dc3545; width: 100%;" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
            {% else %}
                <div class="progress-bar bg-light" style="border-left: 2px solid #dcdcdc; width: 100%;" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
            {% endif %}
        </div>
        <div class="text-center my-4" style="font-size:1.3em;">Sillage  {{ product.intensity }} </div>

    </div>

    <div class="row text-center mt-5">
        {% if product.season %}
            <div class="col-4">
                <div class="item">
                    <div class="icon">
                        <img src="{{ asset('img/olfactory_profile/season.svg') }}" height="50px" alt="Genre">
                    </div>
                    <div class="value">{{ product.season }}</div>
                </div>
            </div>
        {% endif %}
        {% if product.occasion %}
            <div class="col-4">
                <div class="item">
                    <div class="icon">
                        <img src="{{ asset('img/olfactory_profile/perfume.svg') }}" height="50px" alt="Genre">
                    </div>
                    <div class="value">{{ product.occasion }}</div>
                </div>
            </div>
        {% endif %}
        {% if product.gender %}
            <div class="col-4">
                <div class="item">
                    <div class="icon">
                        <img src="{{ asset('img/olfactory_profile/gender.svg') }}" height="50px" alt="Genre">
                    </div>
                    <div class="value">{{ product.gender }}</div>
                </div>
            </div>
        {% endif %}
    </div>
</div>

</div>
{% endblock %}
