{% extends 'base.html.twig' %}

{% block title %}{{ product.name }}{% endblock %}

{% block body %}
<div class="container p-4">

{% set breadcrumbs = [
    {"page_name": "Accueil", "route_path": path('home.index')},
    {"page_name": "Parfums", "route_path": path('product.index')},
    {"page_name": brand is not null ? brand.name : " ", "route_path": brand is not null ? path('brand.show', { 'id': brand.id }) : null },
    {"page_name": product.name, "route_path": path('product.show', { 'id': product.id })}
] %}

    {% include 'components/_breadcrumb.html.twig' with {'breadcrumbs': breadcrumbs} %}

    <div class="row justify-content-center">
        <div class="col-12 col-sm-12 col-md-6 p-4 text-center position-relative">
            <img id="product-image" src="{{ asset('img/products/' ~ product.imageUrl) }}" loading="lazy" class="img-fluid" style="max-height: 600px;" />
            <div class="position-absolute" style="bottom: 5%; left: 50%; transform: translateX(-50%);font-family:var(--font-family);">
                {{ product.olfactoryFamily ?? 'Indisponible' }}
            </div>
        </div>
        
        <div class="col-12 col-sm-12 col-md-6 px-md-3" style="padding:20px!important;">
           <div class="row">
                <div class="col-lg-15 mx-auto">
                     <div style="border-bottom: 1px solid #eae9e9; padding-bottom: 15px; font-size:0.8em;">
                        <div class="row">
                            <div class="col-8">  
                                <div class="spkdv_title">{{ product.name }}</div>
                                {% if brand is not empty %}
                                    <a href="{{ path('brand.index') }}/{{ brand.id }}">
                                        <div class="spkdv_subtitle">{{ brand.name }}</div>                                
                                    </a> 
                                {% endif %}
                            </div>

                            <div class="col-4">
                                <div class="card-text">
                                    {% if product.salePrice != 0 and product.salePrice %}
                                        <div id="regular-price" class="text-decoration-line-through text-muted fs-5">{{ (product.regularPrice / 100) | number_format(product.regularPrice % 100 == 0 ? 0 : 2, ',', '.') }} FCFA</div>
                                        <div id="product-price" class="fw-bold fs-3">
                                            {{ (product.salePrice / 100) | number_format(product.salePrice % 100 == 0 ? 0 : 2, ',', '.') }} FCFA
                                        </div>
                                    {% elseif product.regularPrice > 0 %}
                                        <div id="product-price" class="fw-bold fs-3">
                                            {{ (product.regularPrice / 100) | number_format(product.regularPrice % 100 == 0 ? 0 : 2, ',', '.') }} FCFA
                                        </div>
                                    {% else %}
                                        <div id="product-price" class="fw-bold fs-3">Prix indisponible</div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row text-center my-5">
                        {% if product.headNote %}
                            <div class="col-4">
                                <div class="card-text">
                                    <strong>Tête</strong><br>
                                    {{ product.headNote }}
                                </div>
                            </div>
                        {% else %}
                            <div class="col-4">
                                <div class="card-text">
                                    <strong>Tête</strong><br>Indisponible
                                </div>
                            </div>
                        {% endif %}
                        
                        {% if product.heartNote %}
                            <div class="col-4">
                                <div class="card-text">
                                    <strong>Coeur</strong><br>
                                    {{ product.heartNote }}
                                </div>
                            </div>
                        {% else %}
                            <div class="col-4">
                                <div class="card-text">
                                    <strong>Coeur</strong><br>Indisponible
                                </div>
                            </div>
                        {% endif %}
                        
                        {% if product.backgroundNote %}
                            <div class="col-4">
                                <div class="card-text">
                                    <strong>Fond</strong><br>
                                    {{ product.backgroundNote }}
                                </div>
                            </div>
                        {% else %}
                            <div class="col-4">
                                <div class="card-text">
                                    <strong>Fond</strong><br>Indisponible
                                </div>
                            </div>
                        {% endif %}
                    </div>

                    <div class="row mt-4">
                        <div class="col-12">
                            <div id="product-variant" class="d-flex flex-wrap justify-content-between">
                                <div class="chip selected text-center" data-id="{{ product.id }}" data-price="{{ product.salePrice != 0 and product.salePrice ? product.salePrice : product.regularPrice }}" data-regular-price="{{ product.regularPrice }}" data-stock="{{ product.stockQuantity }}" data-image="{{ product.imageUrl }}" data-capacity="{{ product.capacity }}">
                                    {{ product.capacity }}
                                </div>
                                {% for variant in variants %}
                                    <div class="chip text-center" data-id="{{ variant.id }}" data-price="{{ variant.salePrice != 0 and variant.salePrice ? variant.salePrice : variant.regularPrice }}" data-regular-price="{{ variant.regularPrice }}" data-stock="{{ variant.stockQuantity }}" data-image="{{ variant.imageUrl }}" data-capacity="{{ variant.capacity }}">
                                        {{ variant.capacity }}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 py-4">
                            <a href="{{ path('cart.add', {'id': product.id}) }}" class="spkdv_primary_btn" style="display:inline-block;width:100%;">Ajouter au panier</a>
                        </div>
                    </div>
                </div>
           </div>
        </div>
    </div>
    <nav class="my-4 text-uppercase border-bottom">
        <ul class="nav nav-pills justify-content-center">
            <li class="nav-item px-md-4">
                <a class="nav-link" href="#section-description">Description</a>
            </li>
            <li class="nav-item px-md-4">
                <a class="nav-link" href="#section-notes">Notes olfactives</a>
            </li>
            <li class="nav-item px-md-4">
                <a class="nav-link" href="#section-profile">Profil olfactif</a>
            </li>
        </ul>
    </nav>
    <div class="my-5 col-md-8 mx-auto p-4 text-center" id="section-description">
        <h4 class="text-uppercase">
            Description
        </h4>

        <div class="my-4">{{ product.description is not empty ? product.description | raw : 'Aucune description disponible' }}</div>
    </div>

    <div class="my-5 col-md-8 mx-auto p-4 text-center" id="section-notes">
        <h4 class=" text-uppercase">
            Notes olfactives
        </h4>

        <div class="row my-4" id="section-profile" >
            {% if product.getHeadNote() %}
            <div class="col-4">
                <div class="card-text">

                    <img src="{{ asset('img/olfactory_notes/' ~ product.getHeadNote().imageUrl) }}"
                         alt="{{ product.getHeadNote().name }}" class="img-fluid rounded-circle border border-4 border-light"
                         style="width: 100px; height: 100px; object-fit: cover;" loading="lazy"/>
                                                  <br>
                    <strong>Tête</strong><br>
                    {{ product.getHeadNote() }}
           
                </div>
            </div>
        {% endif %}
        {% if product.getHeartNote() %}
            <div class="col-4">
                <div class="card-text">
                    <img src="{{ asset('img/olfactory_notes/' ~ product.getHeartNote().imageUrl) }}"
                         alt="{{ product.getHeartNote().name }}" class="img-fluid rounded-circle border border-4 border-light"
                         style="width: 100px; height: 100px; object-fit: cover;" loading="lazy"/>
                                                 <br>

                    <strong>Coeur</strong><br>
                    {{ product.getHeartNote() }}
            
                </div>
            </div>
        {% endif %}
        {% if product.getBackgroundNote() %}
            <div class="col-4">
                <div class="card-text">
                  <img src="{{ asset('img/olfactory_notes/' ~ product.getBackgroundNote().imageUrl) }}"
                         alt="{{ product.getBackgroundNote().name }}" class="img-fluid rounded-circle border border-4 border-light"
                         style="width: 100px; height: 100px; object-fit: cover;" loading="lazy"/>
                                             <br>

                    <strong>Fond</strong><br>
                    {{ product.getBackgroundNote() }}
                  
                </div>
            </div>
        {% endif %}
        </div>
    </div>
    <div id="section-3" class="section-profil-olfactif my-5 col-md-6 mx-auto border p-4 position-relative">
        <h4 class="text-center text-uppercase" style="position:absolute; top:-10%; left:50%; transform:translateX(-50%); padding:10px; background:#fff;">
            Profil olfactif
        </h4>
        <div class="text-center my-4 " style="font-size: 2em;">Intensité</div>
        <div class="progress rounded-0">
            {% set intensity_map = {
                'Discret': 33.33,
                'Modéré': 66.66,
                'Puissant': 100
            } %}
            {% set intensity = product.getIntensity() %}
            {% set progress_width = intensity_map[intensity] ?? 0 %}
            <div class="progress-bar" style="background:#5b1823; width: {{ progress_width }}%" role="progressbar" aria-valuenow="{{ progress_width }}" aria-valuemin="0" aria-valuemax="100"></div>
            <div class="progress-bar" style="background:#ededed; width: {{ 100 - progress_width }}%" role="progressbar" aria-valuenow="{{ 100 - progress_width }}" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <div class="text-center my-4" style="font-size: 1.3em;">Sillage {{ product.intensity ?? 'Indisponible' }}</div>

      <div class="row text-center mt-5">
    {% set occasion_map = {
        'Toute occasion': 'toute_occasion',
        'Parfum de jour': 'parfum_de_jour',
        'Parfum de soirée': 'parfum_de_soiree',
        'Autre': 'occasion'
    } %}
    {% set season_map = {
        'Printemps': 'printemps',
        'Été': 'ete',
        'Automne': 'automne',
        'Hiver': 'hiver',
        'Toutes saisons': 'season'
    } %}
    {% set gender_map = {
        'Homme': 'homme',
        'Femme': 'femme',
        'Unisexe': 'unisexe'
    } %}

    {% for attribute in ['Season', 'Occasion', 'Gender'] %}
        {% set value = attribute(product, 'get' ~ attribute) %}
        <div class="col-4">
            <div class="item">
                <div class="icon">
                    {% if attribute == 'Occasion' %}
                        {% set icon = occasion_map[value] ?? 'default' %}
                    {% elseif attribute == 'Season' %}
                        {% set icon = season_map[value] ?? 'default' %}
                    {% elseif attribute == 'Gender' %}
                        {% set icon = gender_map[value] ?? 'default' %}
                    {% else %}
                        {% set icon = 'default' %}
                    {% endif %}
                    <img src="{{ asset('img/olfactory_profile/' ~ icon ~ '.svg') }}" 
                         loading="lazy" height="50px" 
                         alt="{{ value|default('Inconnu') }}">
                </div>
                <div class="value">
                    {{ value is defined and icon != 'default' ? value : 'Indisponible' }}
                </div>
            </div>
        </div>
    {% endfor %}
</div>

    </div>

</div>

<style>
    .chip {
        display: inline-block;
        width: 45%;
        padding: 10px;
        margin: 5px;
        border : 2px solid #e5e5e5;
        cursor: pointer;
        transition: background-color 0.3s;
    }
   
    .chip.selected {
        border: 2px solid var(--primary-color);
    }
</style>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        const chips = document.querySelectorAll('.chip');
        const productImage = document.getElementById('product-image');
        const productPrice = document.getElementById('product-price');
        const regularPrice = document.getElementById('regular-price');
        const quantityDisplay = document.getElementById('variant-quantity');
        const capacityDisplay = document.getElementById('variant-capacity');

        chips.forEach(chip => {
            chip.addEventListener('click', () => {
                chips.forEach(c => c.classList.remove('selected'));
                chip.classList.add('selected');

                const price = chip.getAttribute('data-price') / 100;
                const regularPriceValue = chip.getAttribute('data-regular-price') / 100;
                const imageUrl = chip.getAttribute('data-image');
                const stock = chip.getAttribute('data-stock');
                const capacity = chip.getAttribute('data-capacity');

                // Update price, image, quantity and capacity
                productPrice.textContent = `${price.toFixed(price % 1 === 0 ? 0 : 2).replace('.', ',')} FCFA`;
                regularPrice.textContent = regularPriceValue ? `${regularPriceValue.toFixed(regularPriceValue % 1 === 0 ? 0 : 2).replace('.', ',')} FCFA` : '';
                productImage.src = imageUrl ? `{{ asset('img/products/') }}/${imageUrl}` : productImage.src;
                quantityDisplay.textContent = stock ?? 'Indisponible';
                capacityDisplay.textContent = capacity ?? 'Indisponible';
            });
        });
    });
</script>
{% endblock %}
