{# templates/components/_header.html.twig #}

<div class="px-3 py-1 spkdv_header_top">
    <div class="row">
        <!-- Menu de navigation pour petites et grandes tailles d'écrans -->
        <div class="col-md-8"> <!-- Rendre le menu visible sur toutes les tailles d'écrans -->
            <ul class="nav mb-2 mb-md-0">
                <li><a href="{{ path('contact') }}" class="nav-link px-2 link-secondary">Contact</a></li>
                <li><a href="{{ path('blog.index') }}" class="nav-link px-2 link-secondary">Blog</a></li>
                <li><a href="{{ path('page.show', {slug: 'sillage-parfumerie'}) }}" class="nav-link px-2 link-secondary">Sillage parfumerie</a></li>
            </ul>
        </div>

        <!-- Message de bienvenue pour les utilisateurs connectés -->
        {% if is_granted('ROLE_USER') %}
            <div class="text-white col-md-4 my-auto" style="font-size:0.8em;">
                Bienvenue {{ app.user.firstname }}, vous êtes actuellement connecté(e)!
            </div>
        {% endif %}
    </div>
</div>

<div class="p-3 pt-4 spkdv_header_middle">
    <header class="d-flex flex-wrap align-items-center justify-content-between">
        <!-- Recherche (Mobile et Tablette) -->
        <div class="col-md-4 mb-2 mb-md-0">
            {% include 'components/_search_form.html.twig' %}
        </div>

        <!-- Logo centré -->
        <div class="col-md-4 text-center">
            <a href="{{ path('home.index') }}" class="d-inline-flex link-body-emphasis text-decoration-none">
                <img src="{{ asset('img/logo_sillage_parfumerie.svg') }}" width="200" alt="Logo Sillage"/>
            </a>
        </div>

        <!-- Icônes à droite -->
        <div class="col-12 col-md-4 text-center">
            <div class="d-flex justify-content-end">
                <div class="mx-4">
                    <a href="#">
                        <object type="image/svg+xml" data="{{ asset('svg/heart.svg') }}" width="20px" aria-label="Favoris">
                            Your browser does not support SVG
                        </object>
                    </a>
                </div>

                {% if is_granted('ROLE_USER') %}
                    <div class="mx-4">
                        <a href="{{ path('account.index') }}">
                            <img src="{{ asset('svg/user.svg') }}" width="20px"/>
                        </a>
                    </div>
                {% else %}
                    <div class="mx-4">
                        <a href="{{ path('app_login') }}">
                            <img src="{{ asset('svg/user.svg') }}" width="20px"/>
                        </a>
                    </div>
                {% endif %}

                <div class="mx-4">
                    <a href="{{ path('cart.index') }}">
                        <img src="{{ asset('svg/shopping_bag.svg') }}" width="20px"/>
                    </a>
                </div>
            </div>
        </div>
    </header>
</div>

{# Navbar - incluse ici pour être à l'extérieur du header #}
{% include 'components/_navbar.html.twig' %}

{# Flash messages #}
{% include 'components/_flash.html.twig' %}

{# Script pour activer le défilement vertical sur mobile #}
<style>
    /* Activer le scroll vertical sur mobile */
    @media (max-width: 767px) {
        .nav {
            max-height: 80vh; /* Limiter la hauteur à 80% de la hauteur de l'écran */
            overflow-y: auto; /* Activer le défilement vertical */
        }
    }
</style>

{# Scripts JS pour Bootstrap et jQuery #}
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>
