{% set menuItems = get_menu_items(true, true, true) %}

<nav class="navbar navbar-expand-lg navbar-light p-0">
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav col-12 justify-content-center p-2">

            <!-- Menu Marques -->
            <li class="nav-item dropdown">
                <a class="nav-link px-5 dropdown-toggle" href="{{ path('brand.index') }}" id="navbarDropdownBrands" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    MARQUES
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownBrands">
                    <div class="mega-menu">
                        <div class="row">
                            <!-- Première colonne : les 5 premières marques -->
                            <div class="col-4">
                                <h5>NOS MARQUES</h5>
                                <ul class="list-unstyled">
                                    {% for brand in menuItems.brands|slice(0, 5) %}
                                        <li><a class="dropdown-item" href="{{ path('brand.show', {'id': brand.id}) }}">{{ brand.name }}</a></li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <!-- Deuxième colonne : les marques à partir de la 6ème -->
                            <div class="col-8">
                                <h6>NOS DERNIERES MARQUES</h6>
                                    <div class="row">
                                        {% for brand in menuItems.brands|slice(5) %}
                                            <div class="col-3 p-0">
                                                <a href="{{ path('brand.show', {'id': brand.id}) }}">
                                                           <div class="brand-container" style="
                                                            position: relative; height: 150px; width:100%;
                                                            background-image: url('{{ asset('img/brands/' ~ brand.coverUrl) }}'); 
                                                            background-size: cover;
                                                            background-position: center;">
                                                            <!-- Utilisation de l'image comme fond d'arrière-plan -->
                                                    
                                                            <!-- Contenu texte au-dessus de l'image -->
                                                            <div style="position: absolute; left:10%; bottom: 10%;  background: rgba(255, 255, 255, 0.7); color: #000; padding: 20px; z-index: 1; width: 80%;">
                                                                <h6>{{ brand.name | raw }}</h6>
                                                            </div>
                                                        </div>
                                                </a>
                                            </div>
                                        {% endfor %}
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>

            <!-- Menu Marques -->
            <li class="nav-item dropdown">
                <a class="nav-link px-5 dropdown-toggle" href="{{ path('brand.index') }}" id="navbarDropdownBrands" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Parfums
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownBrands">
                    <div class="mega-menu">
                        <div class="row">
                         
                            <!-- Deuxième colonne : les marques à partir de la 6ème -->
                            <div class="col-12">
                                <h6>NOS PARFUMS</h6>
                                    <div class="row">
                                        {% for category in menuItems.categories %}
                                            <div class="col-3 p-0">
                                                <a href="{{ path('category.show', {'id': category.id }) }}">
                                                           <div class="brand-container" style="
                                                            position: relative; height: 150px; width:100%;
                                                            background-image: url('{{ asset('img/categories/' ~ category.imageUrl) }}'); 
                                                            background-size: cover;
                                                            background-position: center;">
                                                            <!-- Utilisation de l'image comme fond d'arrière-plan -->
                                                    
                                                            <!-- Contenu texte au-dessus de l'image -->
                                                            <div style="position: absolute; left:10%; bottom: 10%;  background: rgba(255, 255, 255, 0.7); color: #000; padding: 20px; z-index: 1; width: 80%;">
                                                                <h6>{{ category.name | raw }}</h6>
                                                            </div>
                                                        </div>
                                                </a>
                                            </div>
                                        {% endfor %}
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>

            <!-- Autres liens -->
            <li><a href="{{ path('olfactoryfamily.index') }}" class="nav-link px-5">FAMILLES OLFACTIVES</a></li>
            <li><a href="#" class="nav-link px-5">BOX SILLAGE</a></li>
            <li><a href="{{ path('exclusive.index') }}" class="nav-link px-5">OFFRES EXCLUSIVES</a></li>
        </ul>
    </div>
</nav>

{# 
<!-- Affichage des Pages, Catégories et Marques -->
<nav>
    <ul>
        {% if menuItems.pages is not empty %}
            <li><strong>Pages</strong>
                <ul>
                    {% for page in menuItems.pages %}
                        <li><a href="{{ path('page.show', { 'slug': page.slug }) }}">{{ page.title }}</a></li>
                    {% endfor %}
                </ul>
            </li>
        {% endif %}

        {% if menuItems.categories is not empty %}
            <li><strong>Catégories</strong>
                <ul>
                    {% for category in menuItems.categories %}
                        <li><a href="{{ path('category.show', { 'id': category.id }) }}">{{ category.name }}</a></li>
                    {% endfor %}
                </ul>
            </li>
        {% endif %}

        {% if menuItems.brands is not empty %}
            <li><strong>Marques</strong>
                <ul>
                    {% for brand in menuItems.brands %}
                        <li><a href="{{ path('brand.show', { 'id': brand.id }) }}">{{ brand.name }}</a></li>
                    {% endfor %}
                </ul>
            </li>
        {% endif %}
    </ul>
</nav> #}
