{% extends 'base.html.twig' %}

{% block title %}Validation de Commande{% endblock %}

{% block body %}
<div class="container p-4">
    {# BREADCRUMBS ------------------------------------------------------------------------------------------------ #}
    {% set breadcrumbs = [
        {"page_name": "Accueil", "route_path": path('home.index')},
        {"page_name": "Panier d'achat", "route_path": path('cart.index')},
        {"page_name": "Validation de commande", "route_path": null},
    ] %}
    {% include 'components/_breadcrumb.html.twig' with {'breadcrumbs': breadcrumbs ? breadcrumbs : null} %}
    
    {# TITRE ------------------------------------------------------------------------------------------------ #}
    <h1>Validation de Commande</h1>
    <hr>
    
    <div class="row">
        {# Partie gauche : Formulaire d'adresse, transporteur, paiement ------------------------------------------ #}
        <div class="col-md-9">
            <div>
                <span style="font-weight:800;font-size:1.5em;">Adresse de Livraison</span>
                <hr>
                {{ form_row(form.address) }}
            </div>

            <div>
                <span style="font-weight:800;font-size:1.5em;">Transporteur</span>
                <hr>
                {{ form_row(form.carrier) }}
            </div>

            <div>
                <span style="font-weight:800;font-size:1.5em;">Méthode de Paiement</span>
                <hr>
                {{ form_row(form.paymentMethod) }}
            </div>
        </div>

        {# Partie droite : Récapitulatif du panier ----------------------------------------------- #}
        <div class="col-md-3">
            <div class="card p-3">
                <h4 class="mb-3">Récapitulatif de votre commande</h4>
                <ul class="list-group">
                    {% for item in cart %}
                    <li class="list-group-item d-flex justify-content-between">
                        <div>{{ item.product.name }} (x{{ item.quantity }})</div>
                        <span>{{ totalPrice|number_format(2, ',', '.') }} €</span>
                    </li>
                    {% endfor %}
                    <li class="list-group-item d-flex justify-content-between">
                        <strong>Total</strong>
                        <strong>{{ totalPrice|number_format(2, ',', '.') }} €</strong>
                    </li>
                </ul>
                
                {# Bouton de confirmation de commande ---------------------------------------------------------- #}
                <div class="d-flex justify-content-center align-items-center mt-3">
                    <button class="btn btn-primary" type="submit">Confirmer ma commande</button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
